<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/head.ejs")%>
</head>

<body>
    <h1 class="bg-info text-white p-3 m-0">The Solar System</h1>

    <%-include("partials/nav.ejs")%>

    <div class="container-fluid m-5 row">
        <div class="card p-4 col">
            <h2>Comets</h2>
            <%=cometInfo.def%>
            <a href="<%=cometInfo.link%>">Additional Info</a>
        </div>

        <div class="col card">
            <img src="<%=cometInfo.image%>" alt="planetImage">
        </div>
    </div>

    <%-include("partials/footer.ejs")%>
</body>

</html>